form label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
	color: gray;
	font-family: arial;
}

form input {
	height: 20px;
	width: 200px;
}

form textarea {
	height: 200px;
	width: 200px;
}

form input[type=text] {
	color: black;
	font-size: 16px;
	margin-bottom: 20px;
}